@media (min-width: 768px) {
  nav .input-group-btn {
    /* This somehow fixes a bug with the searchbar extending */
    width: 1% !important;
  }

  nav .glyphicon {
    font-size: 1.5em;
  }
  nav a.menu-btn {
    padding-bottom:5px;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-static-top {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-right {
    margin-right: 5px;
  }
}

body {
  min-height: 1000px;
}

.flex-container {
  column-width: 260px;
	column-gap: 10px;
  width: 90%;
  text-align: left;
	margin: 0 auto;
}

.flex-child {
  width: 260px;
  min-height: 120px;
  max-height: 810px;
  display: inline-block;
  column-break-inside: avoid;
}


/*Creation page*/
.creation-panel {
  width:100%;
}
.tag-box {
  width:100%;
  background-color: #f3f3f3;
  padding: 5px 0 8px 10px;
  font-size: 16px;
  border-radius: 8px;
}
.label{
  margin-left:5px;
}
.deadline-text{
  color: #9b9b9b;
}
.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.50;
  border-radius: 20px;
  margin: 0 5px;
  border-color: #323232;
}
.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  /*width: 75%;*/
  padding-top: 8px;
  /*font-size: 22px;*/
}

@media screen and (max-width: 750px) {
  .flex-container { column-gap: 0px; }
  .flex-container .panel { width: 100%; }
}

.grid-card-label {
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

.card-option:nth-child(odd) {
  background: #EAFFEA;
}

.card-option:nth-child(even) {
  background: #FFEAEA;
}

.card-option {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 3px;
  border-radius: 4px;
}

.card-option:first-child {
  margin-top: 0;
}

.card-option label {
  margin-left: 5px;
  line-height: 5px;
}

.grid-card-date {
  font-size: .85em;
}

.panel-cyan > .panel-heading, .panel-cyan > .panel-footer {
  background: #d4c4fb;
}

.panel-pink > .panel-heading, .panel-pink > .panel-footer {
  background: #eb9694;
}
.panel-footer {
  padding: 8px !important;
}

.floating-add-button svg {
  position: fixed;
  top: 82%;
  z-index:100;
  left: 85%;
  background-color: #FF8;
  border-radius: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.grid-load-more {

}

.grid-view {
  text-align: center;
}

.popup {
  width: 500px;
  height: 900px;
}

.btn-extra {
  border-color: #fff;
}

.filter-label {
  background-color: #f5f5f5;}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}

.label {
  margin: 5px;
}

input[type=radio] {
  margin: 15px 10px 0px 25px;
}

.calendar-type-select {
  height: 38px;
  margin-top: 0px;
}

.calendar-nav-btn {
  font-size: 14px;
  padding: 5px;
}

.no-margin {
  margin: 0;
}

.hover-darken:hover {
  color: #000 !important;
}
